workflow_chatbot_consultas.json
{
  "name": "Chatbot IA - Consultas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-consulta",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 100],
      "id": "aa100000-0001-0001-0001-000000000001",
      "name": "Webhook Chatbot",
      "webhookId": "bb200000-0002-0002-0002-000000000002"
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "tipo",    "value": "={{ $json.body.tipo }}" },
            { "name": "mensaje", "value": "={{ $json.body.mensaje }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [220, 100],
      "id": "dd300000-0003-0003-0003-000000000003",
      "name": "Extraer Campos"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tipo }}",
              "operation": "equal",
              "value2": "interpretar"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 100],
      "id": "if001-0001-0001-0001-000000000001",
      "name": "Es Interpretar?"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tipo }}",
              "operation": "equal",
              "value2": "clasificar"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 340],
      "id": "if002-0002-0002-0002-000000000002",
      "name": "Es Clasificar?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"qwen2.5:3b\", \"prompt\": \"Eres un experto en compras. Analiza la solicitud y extrae los datos clave.\\nResponde en español con este formato exacto, sin texto adicional:\\nProducto identificado: [nombre del producto]\\nCantidad solicitada: [número]\\nUrgencia: [alta / media / baja]\\nObservación: [una frase corta explicando el contexto]\\n\\nSolicitud: {{ $json.mensaje }}\", \"stream\": false, \"options\": {\"temperature\": 0.1}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [660, -60],
      "id": "ff500000-0005-0005-0005-000000000005",
      "name": "Ollama Interpretar"
    },
    {
      "parameters": {
        "jsCode": "const respuesta = ($json.response || '').trim();\nreturn [{ json: { respuesta } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -60],
      "id": "gg600000-0006-0006-0006-000000000006",
      "name": "Resp Interpretar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"qwen2.5:3b\", \"prompt\": \"Eres un experto en gestion de compras. Clasifica el requerimiento.\\nResponde en español con este formato exacto, sin texto adicional:\\nTipo: [emergencia / reposicion_stock / planificada]\\nUrgencia: [critica / alta / media / baja]\\nPrioridad: [número del 1 al 10, donde 10 es maxima urgencia]\\nRequiere aprobacion: [si / no]\\nRazon: [una frase corta justificando la clasificacion]\\n\\nRequerimiento: {{ $json.mensaje }}\", \"stream\": false, \"options\": {\"temperature\": 0.1}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [660, 260],
      "id": "hh700000-0007-0007-0007-000000000007",
      "name": "Ollama Clasificar"
    },
    {
      "parameters": {
        "jsCode": "const respuesta = ($json.response || '').trim();\nreturn [{ json: { respuesta } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 260],
      "id": "ii800000-0008-0008-0008-000000000008",
      "name": "Resp Clasificar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"qwen2.5:3b\", \"prompt\": \"Eres un experto en seleccion de proveedores para una tienda deportiva.\\n\\nProveedores disponibles:\\n1. TextilPeru S.A. (Lima) - precio bajo, entrega 3-5 dias\\n2. SportGear China (Shanghai) - precio medio, entrega 5-7 dias\\n3. Confecciones Brasil (Sao Paulo) - precio medio, entrega 4-6 dias\\n4. Adidas Direct (Lima) - precio alto, entrega 2-3 dias\\n5. Nike Distribution (Lima) - precio alto, entrega 1-2 dias\\n\\nRegla de decision:\\n- Urgencia alta o critica: priorizar velocidad de entrega\\n- Urgencia media o baja: priorizar precio mas bajo\\n\\nResponde en español con este formato exacto, sin texto adicional:\\nProveedor recomendado: [nombre]\\nRazon: [una frase explicando por que]\\nTiempo de entrega: [X a Y dias]\\nConfianza: [número]%\\n\\nConsulta: {{ $json.mensaje }}\", \"stream\": false, \"options\": {\"temperature\": 0.1}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [660, 440],
      "id": "jj900000-0009-0009-0009-000000000009",
      "name": "Ollama Recomendar"
    },
    {
      "parameters": {
        "jsCode": "const respuesta = ($json.response || '').trim();\nreturn [{ json: { respuesta } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 440],
      "id": "kk000000-0010-0010-0010-000000000010",
      "name": "Resp Recomendar"
    }
  ],
  "connections": {
    "Webhook Chatbot": {
      "main": [[{ "node": "Extraer Campos", "type": "main", "index": 0 }]]
    },
    "Extraer Campos": {
      "main": [[{ "node": "Es Interpretar?", "type": "main", "index": 0 }]]
    },
    "Es Interpretar?": {
      "main": [
        [{ "node": "Ollama Interpretar", "type": "main", "index": 0 }],
        [{ "node": "Es Clasificar?",     "type": "main", "index": 0 }]
      ]
    },
    "Es Clasificar?": {
      "main": [
        [{ "node": "Ollama Clasificar",  "type": "main", "index": 0 }],
        [{ "node": "Ollama Recomendar",  "type": "main", "index": 0 }]
      ]
    },
    "Ollama Interpretar": {
      "main": [[{ "node": "Resp Interpretar", "type": "main", "index": 0 }]]
    },
    "Ollama Clasificar": {
      "main": [[{ "node": "Resp Clasificar",  "type": "main", "index": 0 }]]
    },
    "Ollama Recomendar": {
      "main": [[{ "node": "Resp Recomendar",  "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
